services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - db-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 2s
      retries: 10

  backend:
    build: ./backend
    environment:
      DATABASE_URL: ${DATABASE_URL}
      SECRET_KEY: ${SECRET_KEY}
    depends_on:
      db:
        condition: service_healthy
    expose:
      - "5000"                # can access it only on Docker Network (reachable by other containers)
    command: gunicorn -b 0.0.0.0:5000 "app:app"

  frontend:
    build: 
      context: ./frontend
      args:               
        VITE_API_URL: /api      
    depends_on:
      - backend
    ports:
      - "80:80"

volumes:
  db-data: