---
- name: Deploy todo app to EC2
  hosts: todo_app
  become: true

  vars:
    app_dir: /opt/todo-app
    repo_url: https://github.com/rosibes/sod
    repo_version: "v1.1.3"
    compose_file: docker-compose.prod.yml

  pre_tasks:
    - name: Update apt cache
      apt:
        update_cache: yes
        cache_valid_time: 3600

  tasks:
    - name: Install required packages
      apt:
        name:
          - ca-certificates
          - curl
          - git
          - gnupg
        state: present

    - name: Add Docker GPG key
      shell: |
        install -m 0755 -d /etc/apt/keyrings
        curl -fsSL https://download.docker.com/linux/ubuntu/gpg | gpg --dearmor -o /etc/apt/keyrings/docker.gpg
        chmod a+r /etc/apt/keyrings/docker.gpg
      args:
        creates: /etc/apt/keyrings/docker.gpg

    - name: Add Docker repo
      shell: |
        echo "deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/docker.gpg] https://download.docker.com/linux/ubuntu $(. /etc/os-release && echo $VERSION_CODENAME) stable" \
        > /etc/apt/sources.list.d/docker.list
      args:
        creates: /etc/apt/sources.list.d/docker.list

    - name: Install Docker Engine + Compose v2
      apt:
        name:
          - docker-ce
          - docker-ce-cli
          - containerd.io
          - docker-buildx-plugin
          - docker-compose-plugin
        state: present
        update_cache: yes

    - name: Enable and start Docker
      systemd:
        name: docker
        enabled: yes
        state: started

    - name: Enable and start containerd
      systemd:
        name: containerd
        enabled: yes
        state: started

    - name: Ensure app directory exists
      file:
        path: "{{ app_dir }}"
        state: directory
        owner: ubuntu
        group: ubuntu
        mode: "0755"

    - name: Clone app repo
      git:
        repo: "{{ repo_url }}"
        dest: "{{ app_dir }}"
        version: "{{ repo_version }}"
        force: yes              # if the folder already exists Ansible wil OVERWRITE it 
                                # (if the repo already exists and is not clean - ansible will fail)
      become_user: ubuntu
      notify: Restart app stack   # if the repo content at {{ app_dir }} changes, notify the handler called 'Restart app stack'

    - name: Render .env file
      template:
        src: templates/prod.env.j2
        dest: "{{ app_dir }}/.env"
        mode: "0600"
        owner: ubuntu
        group: ubuntu
      notify: Restart app stack

    - name: Bring up the stack with Docker compose        # --pull alway = always pull the latest iamge from the registry before starting containers
                                                          # --remove-orphans = remove containers that were created by a previous compose run but are no longer defined in the compose file
      command: > 
        docker compose -f {{ compose_file }} --env-file .env up -d --remove-orphans --build --force-recreate
      args: 
        chdir: "{{ app_dir }}"                                                            
      
    - name: Wait for frontend HTTP 200
      uri:
        url: "http://{{ inventory_hostname }}/"
        status_code: 200
      retries: 30
      delay: 2
      register: front
      until: front.status == 200   

    - name: Wait for backend health
      uri:            # uri module - makes a http request (like curl)
        url: "http://{{ inventory_hostname }}/api/health"
        status_code: 200
      retries: 30
      delay: 2
      register: back
      until: back.status == 200

  handlers:
    - name: Restart app stack
      command: >
        docker compose -f {{ compose_file }} --env-file .env up -d --remove-orphans --build --force-recreate
      args:
        chdir: "{{ app_dir }}"
